page-contents {
    
    .content{
      background: color($colors, soutechbg);
    }
    
    .header {
      background-color: lightyellow;
      border-radius: 5px;
      text-align: center;
    }
    .border{
      border: 1px solid #ff6d0c;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
    
    }
    
    ion-col div {
    
    
      border-radius: 2px;
      padding: 5px;
      text-align: center;
    
    
    
    
    }
    
    
    
    ion-row {
      height: 100%;
    
    
      ion-card{
        background-color: color($colors, soutech) !important;
        height: 160px;
        display: block;
    
    
    
        img {
    
        height: 10vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
        align-items: center;
        border: 0;
        padding: 0;
        background-color: #f7efed;
        border-radius: 30px;
        }
    
      }
    
    
    }
    
    
    }
    